


/* font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Général*/

body
{
    
    margin: 5em;
    font-family: 'Raleway', sans-serif;
}

/*Header*/

header img
{
height: 4em;

}

header

{ display: flex;
    
    justify-content: space-between;
    
}
nav ul
{
    
    display: flex;
    flex-wrap: wrap-reverse;
    list-style-type: none;
   
    
}
nav li
{
    margin-right: 6em;
   
}
nav a
{
    font-size: 1.3em;
    color:black;
    text-decoration: none; 
   padding-top: 4em;
}

nav a:hover
{
    color:#0065FC;
    border-top: 2px solid #0065FC;
   
}
.inscrire
{
    color:#0065FC;
    font-weight: bold;
}


/*body*/

    /*filtre solution 1*/

    
.rechercheville1
{
    display: flex;
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    width: 300px;
}
input{
margin: 00px;


}
.form
{
    border: 0px;
}

.button
{

    background-color: #0065FC;
    color: #FFFFFF;
    border-right:#0065FC ;
    border-radius: 0 1em 1em 0;
    
    padding: 0.5em;
    
/*filtre solution 2 */
}
    table
    {
        border-collapse: collapse;
        border-radius: 50px;
        border: 3px solid #F2F2F2;
        width: 300px;
        
    }
    
.recherche2
{
    background-color: #0065FC;
    color: #FFFFFF;
}

/*filtre solution 3 */
    .rechercheville3
    {
        display: flex;
        border: 3px solid #F2F2F2;
        width: 300px;
        
    }

    
.ville 
{
    margin-left: 1em;
    border: 3px solid #F2F2F2;
    border-radius: 25px;
}

.recherche
{
    background-color: #0065FC;
    border: 3px solid #F2F2F2;
    border-top-left-radius: 15px;
    color: #FFFFFF;
    margin-left: 1em;
}

.filtre
{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
 
}

.select
{
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    margin-left: 1em;
    padding: 1em;
        display: block;
        
}

.filtre .fas
{
    background-color:#DEEBFF ;
    border-radius: 60px;
    border: 9px solid #DEEBFF ;

}

.filtre :hover
{
background-color: #0065FC;
color: #F2F2F2;

}

.filtre .fas :hover
{
    background-color:#DEEBFF ;
    border-radius: 60px;
    border: 9px solid #DEEBFF ;
}
.disponible
{
    margin: 1em;
    margin-bottom: 3em;
    margin-top: 3em;
}

.disponible .fas 

{

    color: #0065FC;
    border: 9px solid #DEEBFF ;
    background-color: #FFFFFF;
    border-radius: 60px;
}



/* corps de la page*/ 

figure {
    width: 250px;
    height: 200px;
     background-color: #FFFFFF;
    border-radius: 15px;
    padding: 3px;
    box-shadow: 0px 8px 4px #e0dddd
  

}

img
{
    object-fit: cover;
}

h1
{
    margin-bottom: 1.5em;
    margin-left: 3.5em;
    font-size: 1.5rem;
}
.prix
{
    font-weight: bold;
}

figure p img 
{

    width: 100%;
    max-height: 150px;
    height: 120px;
   border-radius: 15px;

}

figure p, figure h4 { 
    margin: 0;
}

figure h4 {
    padding: 6px 0px 4px 0px;
}

figure p { 
    padding: 4px 0 2px 0;
    font-size: 0.8rem;
}

 .reponse
 {
   background-color: #F2F2F2;  
 width: 70%;
 max-width: 1200px;
 border-radius: 15px;
   
 }
    

.hotel

{
    display: flex;
    flex-wrap: wrap;
     
}
.populaire
{
  
    background-color: #F2F2F2;
    border-radius: 15px; 

}

.populaire h1
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    
}

h1 .fas 

{
    color: black;
}

.grey
{
    color: #F2F2F2;
}
.populaire figure
{
    display: flex;
    width: 400px;
}

.populaire img
{
    width: 200px;
    height: auto;
}

.populaire p, .populaire h4
{
    margin: 5px;
}

.section1
{
    display: flex;
   
}

.blue
{
   color: #0065FC;
    
}
.filtre .fas
{
    color: #0065FC;
     
 }
.section2 ul
{
    display: flex;
    flex-wrap: wrap;
    background-color: saddlebrown;
}
.activite
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40%;
    height: 700px;
}

 .haute img
 {
     max-height: 400px;
     height: 300px;
 }

 .haute
 {
     max-height: 400px;
     height: 400px;
     background-color: royalblue;
 }

/*Footer*/



footer
{
    background-color:#F2F2F2;
    display: flex;
    flex-wrap: wrap;
  width: 100%;
 
   
}
ul
{
    list-style-type: none;
    
}

footer ul
{

    margin-right: 15em;
}
a 
{
    color: black;
    text-decoration: none;
}


/* règles CSS pour  ordi  */
@media all and (min-device-width:781) 
{
  body  
    {
        background-color: blue;
        color: rgb(174, 0, 255);
    }  
.hotel
{
    width: 1200px;
    background-color: blue;
}

p


{background-color: blue;

}
}


/* règles CSS pour  tablette  */
@media all and (min-width:481) and (max-width: 780px)
{
    body
    {background-color: black;
        color: blue;

    }
}


/* règles CSS pour  mobiles  */
@media all and (max-device-width: 480px)
{
    
body
{
   
    color: red
}

.block1
{
    display: flex;
    flex-direction: column-reverse;
}

.reponse, .activite
{ 
    display: table;
    flex-wrap: wrap;
    color: red;
}

footer
{

    display: flex;
    flex-direction: column;
}

}

