


/* font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Général*/

body
{
    width: 1600px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

/*Header*/


.top
{ display: flex;
    justify-content: space-between;
}

nav ul
{
    
    display: inline-flex;
    list-style-type: none;
   
    
}
nav li
{
    margin-right: 15px;
   
}
nav a
{
    font-size: 1.3em;
    color:black;
    text-decoration: none; 
}

nav a:hover
{
    color:#0065FC;
    border-top: 1px solid #0065FC;
}





/*body*/

    /*filtre solution 1*/

    
.rechercheville1
{
    display: flex;
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    width: 300px;
}

.button
{

    background-color: #0065FC;
    color: #FFFFFF;
    
/*filtre solution 2 */
}
    table
    {
        border-collapse: collapse;
        border-radius: 50px;
        border: 3px solid #F2F2F2;
        width: 300px;
        
    }
    
.recherche2
{
    background-color: #0065FC;
    color: #FFFFFF;
}

/*filtre solution 3 */
    .rechercheville3
    {
        display: flex;
        border: 3px solid #F2F2F2;
        width: 300px;
        
    }

    .icones
    {
background-color: #F2F2F2;

    }
.ville 
{
    margin-left: 1em;
    border: 3px solid #F2F2F2;
    border-radius: 25px;
}

.recherche
{
    background-color: #0065FC;
    border: 3px solid #F2F2F2;
    border-top-left-radius: 15px;
    color: #FFFFFF;
    margin-left: 1em;
}


/* corps de la page*/ 

figure {
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 4px 2px #F2F2F2
}

figure p, figure h4 { 
    margin: 0;
}

figure h4 {
    padding: 6px 0px 4px 0px;
}

figure p { 
    padding: 4px 0 2px 0;
}
.vignette
{
    width: 20%;
    min-width: 200px;
    height: auto;
    border: 10px solid #FFFFFF;
    border-radius: 15px;
    position: relative;
    margin: 1em;
    box-shadow: 0px 4px 2px #F2F2F2
  
}



.hotel
{display: flex;
    flex-wrap: wrap;
}

.block1
{display: flex;}

.reponse img

 {
    
    width: 100%;
    height: auto;
        }

.activite img

     {
           
     width: 100%;
    height: auto;
               }
       
.icones img{

    width: 24px;
    height: 24px;
    
    }

.reponse
{ background-color:#F2F2F2;
    border-radius: 15px;
}

.reponse, .activite
{ 
    display: flex;
    flex-wrap: wrap;
}



/*Footer*/



footer
{
    background-color:#F2F2F2;
    display: flex;
    
}
ul
{
    list-style-type: none;
}






/* Format images et textes
pour ecran ordi: 
body
{
    width: 1100px;
    margin: auto;
}  */

/* règles CSS pour  ordi  */
@media all and (min-width:781) 
{
  body  
    {
        background-color: blue;
        color: rgb(174, 0, 255);
    }  
}

/* règles CSS pour  tablette  */
@media all and (min-width:481) and (max-width: 780px)
{
    body
    {background-color: black;
        color: blue;

    }
}




/* règles CSS pour  mobiles  */
@media all and (max-device-width: 480px)
{
    
body
{
    width: 450px;
    color: red
}

.block1
{
    display: flex;
    flex-direction: column-reverse;
}

.reponse, .activite
{ 
    display: table;
    flex-wrap: wrap;
    color: red;
}

}

