


/* font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Général*/

body
{
    
    margin: 5em;
    font-family: 'Raleway', sans-serif;
}

/*Header*/

header img
{
height: 4em;

}

header

{ display: flex;
    
    justify-content: space-between;
    
}
nav ul
{
    
    display: flex;
    flex-wrap: wrap-reverse;
    list-style-type: none;
   
    
}
nav li
{
    margin-right: 6em;
   
}
nav a
{
    font-size: 1.3em;
    color:black;
    text-decoration: none; 
   padding-top: 4em;
}

nav a:hover
{
    color:#0065FC;
    border-top: 2px solid #0065FC;
   
}
.inscrire
{
    color:#0065FC;
    font-weight: bold;
}


/*body*/

    /*filtre solution 1*/

    
.search_place
{
    display: flex;
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    width: 340px;
}
.search_place .fas

{
padding-right: 1em;
padding-left: 0.8em;
padding-top: 0.4em;
border-right: #F2F2F2;
}

input
{
    border: 0px;
}


.button
{

    background-color: #0065FC;
    color: #FFFFFF;
    border-right:#0065FC ;
    border-radius: 0 1em 1em 0;
        padding: 0.5em;
    
    }



/*filtre selection */
    

.filtre
{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    align-items: center;
 
}

.filter p:last-child {
    padding: 0 10px;
}

.filter {
    height: 40px;
    border: 2px solid #F2F2F2;
    display: flex;
    border-radius: 30px;
    align-items: center;
    transition: all 0.4s ease-in-out;
    margin: 1em;
}

.filter p {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.filter p:last-child {
    padding: 0 10px;
}

.filtre .fas {
    background-color: #DEEBFF;
    border-radius: 60px;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0px;
}


.filter :hover
{
    background-color: #0065FC;
    color: #F2F2F2;
   background: #0065FC;
    cursor: pointer;
}

.filter :hover
{
    background-color: #DEEBFF;
}
/*
.filter .fas :hover
{
    background-color:#DEEBFF ;
    border-radius: 60px;
    border: 9px solid #DEEBFF ;
}
*/
.disponible
{
    margin: 1em;
    margin-bottom: 3em;
    margin-top: 3em;
}

.disponible .fas 

{

    color: #0065FC;
    border: 1px solid #DEEBFF ;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 0.3em 0.7em;
    width: 0.1em;
    align-items: center;
    justify-content: center;
    margin-right: 0.2em; 
}


/* corps de la page*/ 

figure {
    width: 250px;
    height: 200px;
     background-color: #FFFFFF;
    border-radius: 15px;
    padding: 3px;
    padding-top: 1px;
    box-shadow: 0px 8px 4px #e0dddd

}

img
{
    object-fit: cover;
}

h1
{
    margin-bottom: 0.7em;
    margin-top: 1.7em;
    margin-left: 3.5em;
    font-size: 1.4rem;
}
.reponse h3

{
    margin-left: 3.5em;
}
.prix
{
    font-weight: bold;
}
.grey
{
    color: #F2F2F2;
}
figure p img 
{

    width: 100%;
    max-height: 150px;
    height: 120px;
   border-radius: 15px;

}

figure p, figure h4 { 
    margin: 0;
}

figure h4 {
    padding: 6px 0px 4px 0px;
}

figure p { 
    padding: 4px 0 2px 0;
    font-size: 0.8rem;
   
}



 .reponse
 {
   background-color: #F2F2F2;  
  border-radius: 15px;
   
 }
 .section1
{
    display: flex;
       
}

.blue, .filtre .fas
{
   color: #0065FC;
    
}


/*Hebergement*/
.hotel

{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    max-width: 1200px;
   
 
}
/*populaire */
.populaire
{
      background-color: #F2F2F2;
    border-radius: 15px; 
}

.populaire h1
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    
}

h1 .fas 

{
    color: black;
}

.populaire figure
{
    display: flex;
    width: auto;
    min-width: 340px;
    height: auto;
    max-width: 150px;
   
    
}

.populaire p img
{
    max-width: 130px;
    max-height: 132px;
    height: auto;
    border-radius: 15px 0px 0px 15px ;
    
}

.populaire p, .populaire h4
{
    margin: 5px;
}


/*Activite*/
.activite
{
    display: flex;
    flex-wrap: wrap;
   
}
 .haute img
 {
     max-height: 400px;
     height: 300px;
 }

 .haute
 {
     max-height: 400px;
     height: 400px;
    
 }
 .small
 {
     display: flex;
     flex-direction: column;
 }

/*Footer*/



footer
{
    background-color:#F2F2F2;
    display: flex;
    flex-wrap: wrap;
  width: 100%;
 
   
}
ul
{
    list-style-type: none;
    
}

footer ul
{

    margin-right: 15em;
}
a 
{
    color: black;
    text-decoration: none;
}

 
/* règles CSS pour  ordi  */
@media all and (min-device-width:1025px) 
{

    
}

/* règles CSS pour  tablette  */
@media all and (min-width:426px) and (max-width: 1024px)
{
    body
    {
        color: blue;

    }
}


/* règles CSS pour  mobiles  */
@media all and (max-device-width: 425px)
{
    
body
{
   
    color: red
}

.section1
{
    display: flex;
    flex-direction: column-reverse;
}

.reponse, .activite
{ 
    display: table;
    flex-wrap: wrap;
    color: red;
}

footer
{

    display: flex;
    flex-direction: column;
}

}

